doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    title Flux Visitor App
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="icon", href="/images/favicon.png")
    script(src="/js/main.js")
  body 
    h1= title
    div#messages
      p= message
      p= wifi_msg
      p= wifi_ssid
      p= wifi_password
    if showForm
      form(action="/submit" method="POST")
        
        label(for="firstName") First Name
        input#firstName(type="text" name="FirstName" required)

        label(for="lastName") Last Name
        input#lastName(type="text" name="LastName" required)

        label(for="email") Email
        input#email(type="email" name="Email" required)

        label(for="company") Company
        input#email(type="company" name="company__c" required)

        label(for="Here to see") Seeing
        select#company(name="Source__c" required)
          option(value="") -- Please who you are here to see --
          option(value="7th Sense") 7th Sense
          option(value="AVER") AVER
          option(value="Bosk") Bosk
          option(value="CJP") CJP
          option(value="Engage Works") Engage Works
          //- option(value="Geenee") Geenee
          option(value="Holotronics") Holotronics
          option(value="InfiLED") InfiLED
          option(value="Interactive Scape") Interactive Scape
          option(value="Kampus") Kampus
          //- option(value="Kimatica") Kimatica
          option(value="Magik Door") Magik Door
          option(value="Media Powerhouse") Media Powerhouse
          option(value="Mersive") Mersive
          option(value="Mo-Sys") Mo-Sys
          option(value="NETGEAR") NETGEAR
          option(value="NSYNK") NSYNK
          //- option(value="Neutral Digital") Neutral Digital
          option(value="Novalia") Novalia
          option(value="Philips") Philips
          option(value="Quividi Bluesight Systems") Quividi Bluesight Systems
          option(value="Snapmatic") Snapmatic
          option(value="Ultra Leap") Ultra Leap
          option(value="Visualise") Visualise
          option(value="Volta") Volta
          option(value="Vive HTC") Vive HTC
          option(value="ZeeVee") ZeeVee
          option(value="eyeora") eyeora

        button(type="submit") Submit
